[Unit]
Description=Volvo OLED Monitor
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/uzanto/volvo-cem-cracker

ExecStart=/home/uzanto/volvo-cem-cracker/venv/bin/python3 /home/uzanto/volvo-cem-cracker/oled_monitor.py

# Auto-restart if the script crashes
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
