[Unit]
Description=Volvo OLED Monitor
After=network.target

[Service]
Type=simple
User=root
# Ansible will replace __VENV_PYTHON__ and __APP_DIR__
ExecStart=__VENV_PYTHON__ __APP_DIR__/src/oled_monitor.py
WorkingDirectory=__APP_DIR__

# Auto-restart if the script crashes
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target